{% load allauth %}
{{ attrs.errors }}
<div>
    {% if attrs.type == "textarea" %}
        <div class="mb-3 form-label">
            <label for="{{ attrs.id }}">
                {% slot label %}
                {% endslot %}
            </label>
        </div>
        <div class="mb-3 form-control">
            <textarea 
                {% if attrs.required %}required{% endif %}
                {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
                {% if attrs.disabled %}disabled{% endif %}
                {% if attrs.readonly %}readonly{% endif %}
                {% if attrs.checked %}checked{% endif %}
                {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
                {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
                {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}>{% slot value %}{% endslot %}</textarea>
        </div>
    {% else %}
            {% if attrs.type != "checkbox" and attrs.type != "radio" %}
                <div class="mb-3 form-label">
                    <label for="{{ attrs.id }}">
                        {% slot label %}
                        {% endslot %}
                    </label>
                </div>
            {% endif %}

            <div class="mb-3 form-control">
                <input
                    {% if attrs.required %}required{% endif %}
                    {% if attrs.disabled %}disabled{% endif %}
                    {% if attrs.readonly %}readonly{% endif %}
                    {% if attrs.checked %}checked{% endif %}
                    {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
                    {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
                    {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
                    {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
                    {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
                    type="{{ attrs.type }}">
            </div>

        {% if attrs.type == "checkbox" or attrs.type == "radio" %}
            <div class="mb-3 form-label">
                <label for="{{ attrs.id }}">
                    {% slot label %}
                    {% endslot %}
                </label>
            </div>

        {% endif %}
    {% endif %}
    {% if slots.help_text %}
    
        <div class="mb-3 form-label">
            <span class="text-small text-muted">
                {% slot help_text %}
                {% endslot %}
            </span>
        </div>

    {% endif %}
    </div>
