{% load i18n %}
{% load static %}
{% load extras %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<div class="d-flex justify-content-between py-4">
    <div id="brand" style="max-width: 50%;">
        <img
        class="img-fluid"
        src="{% if LANGUAGE_BIDI %}{% static 'images/brand-ar.svg' %}{% else %}{% static 'images/brand.svg' %}{% endif %}" alt="PIECY">
    </div>
    
    <div id="languages" class="">
        {% for code, name in LANGUAGES %}
            {% with arg=LANGUAGE_CODE|add:","|add:code %}
                <a class="px-1 {% if code == LANGUAGE_CODE %} fw-bold disabled{% endif %}"
                    href='{{ request.path|replace:arg }}'
                    data-bs-toggle="tooltip" title="{{ name|capfirst }} ({{ code }})" type="button">
                    <img src="{% static 'flags/' %}{{ code }}.svg" height="20" alt="{{ code|upper }}">
                </a>
            {% endwith %}
        {% endfor %}
    </div>
</div>