{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Créer un Utilisateur" %}
{% endblock title %}

{% block content %}
    {% with avatar=tenant.logo headline=tenant.name subtitle=tenant.owner %}
        {% include "base/includes/compo-title.html" with avatar=avatar headline=headline subtitle=subtitle %}
    {% endwith %}
<div class="text-center mb-3">
    <h3 class="p-1 my-3">{% translate "Créer un Utilisateur" %}</h3>
</div>
    <div class="my-3">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                    {% endif %}
                    {% for error in field.errors %}
                    <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">{% trans 'Créer Nouvel Utilisateur' %}</button>
        </form>

        <!-- <form method="POST" action="{% url 'tenancy_add_user' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">{% trans "Nom d'utilisateur" %}</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="{% trans 'Nom d\'utilisateur' %}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">{% trans "Email" %}</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="{% trans 'Email' %}">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">{% trans "Mot de passe" %}</label>
                <input class="form-control" type="password" name="password1" id="password1">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">{% trans "Mot de passe" %} - {% trans "Confirmation" %}</label>
                <input class="form-control" type="password" name="password2" id="password2">
            </div>
            <p>{% trans "Un email sera envoyé à l'adresse email saisie pour confirmation." %}</p>
            <p>{% trans "Il est recommendé au nouvel utilisateur de modifier son mot de passe juste après sa première connexion." %}</p>
            <button type="submit" class="btn btn-primary">{% trans 'Créer' %}</button>
        </form> -->
    </div>
{% endblock content %}