{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Paiements Commande Entreprise" %}
{% endblock title %}

{% block content %}
    {% with avatar=tenant.logo %}
        {% include "base/includes/compo-title.html" with avatar=avatar headline=headline subtitle=subtitle %}
    {% endwith %}
    <div class="text-center mb-3">
        <h3 class="p-2 mb-3">{% translate "Paiements Commande Entreprise" %}</h3>
    </div>

    {% if order.amount_due_to_pay > 0 %}
        <div id="user-actions" class="text-center mb-3">
            <a href="{% url 'tenancy_add_order_payment' order.id %}" class="btn btn-primary">
                <i class="bi bi-coin"></i>
                <span class="ms-1"> {% trans "Payer" %} <span class="fw-bold">{{ order.amount_due_to_pay }}<span class="fw-light small ms-1">{{ order.order_currency }}</span></span></span>
            </a>
        </div>
    {% endif %}

    
    {% include "tenancy/snippets/order-payments-summary.html" with order=order %}
    

    <br class="mt-2">
    
    {% for payment in page_obj %}
        <div class="list-group mb-3 shadow-sm border-start border-4
                {% if payment.status == 'W' %}
                    border-warning
                {% elif payment.status == 'C' %}
                    border-success
                {% else %}
                    border-danger
                {% endif %}
                ">
            {% include "tenancy/snippets/payment-line.html" with order=order %}
        </div>
    {% empty %}
        <div class="list-group-item">{% trans "Aucun Paiement trouvé" %}</div>
    {% endfor %}

    {% include 'base/pagination.html' %}
    
{% endblock content %}