{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Commande Entreprise" %}
{% endblock title %}

{% block content %}
    {% with avatar=tenant.logo %}
        {% include "base/includes/compo-title.html" with avatar=avatar headline=headline subtitle=subtitle %}
    {% endwith %}
    <div class="text-center mb-3">
        <h3 class="p-2 mb-3">{% translate "Commande Entreprise" %}</h3>
    </div>

    {% if order.amount_due_to_pay > 0 %}
        <div id="user-actions" class="text-center mb-3">
            <a href="{% url 'tenancy_add_order_payment' order.id %}" class="btn btn-primary">
                <i class="bi bi-coin"></i>
                <span class="ms-1"> {% trans "Payer" %} <span class="fw-bold">{{ order.amount_due_to_pay }}<span class="fw-light small ms-1">{{ order.order_currency }}</span></span></span>
            </a>
        </div>
    {% endif %}

    <div>
        {% include "tenancy/snippets/order-payments-summary.html" with order=order %}
    </div>

    <br class="mt-2">

    <div class="list-group card p-0">
        {% include "tenancy/snippets/order-items.html" with order=order %}
    </div>

    <br class="mt-2">
        {% include "tenancy/snippets/order-actions.html" with order=order %}
    <div class="">
    </div>


    
{% endblock content %}