{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Commandes Entreprise" %}
{% endblock title %}

{% block content %}
    {% with avatar=tenant.logo %}
        {% include "base/includes/compo-title.html" with avatar=avatar headline=headline subtitle=subtitle %}
    {% endwith %}
    <div class="text-center mb-3">
        <h3 class="p-2 mb-3">{% translate "Commandes Entreprise" %}</h3>
    </div>

    <div class="list-group mb-3">
        {% for order in orders %}
            {% include "tenancy/snippets/order-line.html" with order=order %}
        {% empty %}
            <div class="list-group-item small">
                <span class="text-danger"><i class="bi bi-cone-striped"></i></span>
                <span class="ms-1 small">{% trans "Aucune Commande trouvée" %}</span>
            </div>
        {% endfor %}
    </div>

    
{% endblock content %}