{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Utilisateurs Entreprise" %}
{% endblock title %}

{% block content %}
    {% with avatar=tenant.logo %}
        {% include "base/includes/compo-title.html" with avatar=avatar headline=headline subtitle=subtitle %}
    {% endwith %}
    <div class="text-center mb-3">
        <h3 class="p-2 mb-3">{% translate "Commandes" %}</h3>
    </div>

    <div class="list-group mb-3">
        {% for order in orders %}
            <div class="list-group-item p-0 {% if not forloop.counter|divisibleby:2 %} bg-light{% endif %}">
                <a class="btn w-100 py-3" data-bs-toggle="collapse" href="#{{ order.id }}" role="button" aria-expanded="true" aria-controls="{{ user.id }}">
                    <div class="d-flex align-items-center">
                        <i class="bi 
                            {% if order.status == 'pending' %}
                                bi-exclamation-circle text-warning
                            {% elif order.status == 'partial' %}
                                bi-exclamation-circle text-warning
                            {% elif order.status == 'paid' %}
                                bi-check-circle text-success
                            {% else %}
                                bi-x-circle text-danger
                            {% endif %}
                         fs-3"></i>
                        <!-- <img class="img-fluid me-2" {% if avatar %}src="{% static avatar %}"{% else %}src="{% static 'images/icon.png' %}"{% endif %} style="max-width: 3rem;" alt=""> -->
                        <div class="w-100 d-flex justify-content-between ms-3">
                            <div class="text-start">
                                <div>
                                    <span class="badge
                                        {% if order.status == 'pending' %}
                                            bg-warning
                                        {% elif order.status == 'partial' %}
                                            bg-warning
                                        {% elif order.status == 'paid' %}
                                            bg-success
                                        {% else %}
                                            bg-danger
                                        {% endif %}
                                     py-2">{{ order.get_status_display }}</span>
                                    <span class="fw-bold fs-5 ms-2">{{ order.total_amount_with_tax }}</span>
                                    <span class="small text-muted">{{ order.order_currency }}</span>
                                </div>
                                <div class="text-muted small">
                                    <span class="small">{{ order.order_number }}</span>
                                    <span class="small text-muted ms-1">{{ order.order_date.date }}</span>
                                </div>
                            </div>
                            <div class="px-2">...</div>
                        </div>
                    </div>
                </a>
                <div class="collapse p-3 pt-0" id="{{ order.id }}">
                    <div class="mb-3">
                        <br class="mt-3">
                        <h4 class="mt-4"><span><i class="bi bi-list-ul me-2"></i></span>{% trans "Détails de la commande" %}</h4>
                        <div class="list-group">
                            {% for item in order.items.all %}
                                <div class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="fw-bold">{{ item.product_name }}</div>
                                        <div class="fw-bold">{{ item.total_price_with_tax }}</div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center ps-4">
                                        <div class="fw-light small">{% trans "Prix unitaire" %}</div>
                                        <div class="fw-light small">{{ item.unit_price }}</div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center ps-4">
                                        <div class="fw-light small">{% trans "Quantité" %}</div>
                                        <div class="fw-light small">{{ item.quantity }}</div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center ps-4">
                                        <div class="fw-light small">{% trans "Prix sans taxes" %}</div>
                                        <div class="fw-light small">{{ item.total_price }}</div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center ps-4">
                                        <div class="fw-light small">{% trans "Taux Taxes" %}</div>
                                        <div class="fw-light small">{{ item.tax_rate }}%</div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center ps-4">
                                        <div class="fw-light small">{% trans "Montant Taxes" %}</div>
                                        <div class="fw-light small">{{ item.tax_amount }}</div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="text-danger">{% trans "Aucun élément trouvé" %}</div>
                            {% endfor %}
                            <div class="list-group-item bg-primary-subtle">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="fw-bold fs-5">{% trans "Total TTC" %}</div>
                                    <div class="fw-bold fs-5">{{ order.total_amount_with_tax }}</div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center ps-4">
                                    <div class="fw-light small">{% trans "Total HT" %}</div>
                                    <div class="fw-light small">{{ order.total_amount }}</div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center ps-4">
                                    <div class="fw-light small">{% trans "Total taxes" %}</div>
                                    <div class="fw-light small">{{ order.total_tax_amount }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <br class="mt-3">
                        <h4 class="mt-4"><span><i class="bi bi-wallet2 me-2"></i></span>{% trans "Status de Paiement" %}</h4>
                        <div id="order-details" class="list-group mb-3">
                            <div class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="">{% trans "Montant payé" %}</div>
                                    <div class="fw-bold">{{ order.amount_paid }}</div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="">{% trans "Reste à payer" %}</div>
                                    <div class="fw-bold">{{ order.amount_due }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <br class="mt-3">
                        <h4 class="mt-4"><span><i class="bi bi-cash-coin me-2"></i></span>{% trans "Détails des Paiements" %}</h4>
                        <div class="list-group mb-3">
                            {% for p in order.payments.all %}
                                <div class="list-group-item">
                                    <span class="badge bg-secondary">{{ p.get_status_display }}</span>
                                    {{ p.amount }} | {{ p.reference }} | {{ p.get_method_display }} @ {{ p.paid_at }}
                                </div>
                            {% empty %}
                                <div class="text-danger">{% trans "Aucun Paiement trouvé" %}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if user != request.user %}
                        <div id="user-actions" class="text-end">
                            <a href="mailto:{{ user.email }}" class="btn btn-sm btn-outline-primary mt-2 mx-1">
                                <i class="bi bi-send"></i>
                                <span class="ms-1"> {% trans "Contacter" %}</span>
                            </a>
                            {% if not user.is_tenant_admin %}
                                <a href="{% url 'adminize_user' user.id %}" class="btn btn-sm btn-outline-warning mt-2 mx-1">
                                    <i class="bi bi-person-up"></i>
                                    <span class="ms-1"> {% trans "Admin" %}</span>
                                </a>
                            {% else %}
                                <a href="{% url 'disadminize_user' user.id %}" class="btn btn-sm btn-outline-warning mt-2 mx-1">
                                    <i class="bi bi-person-down"></i>
                                    <span class="ms-1"> {% trans "Non-Admin" %}</span>
                                </a>
                            {% endif %}
                            {% if user.is_active %}
                                <a href="{% url 'disable_user' user.id %}" class="btn btn-sm btn-outline-secondary mt-2 mx-1">
                                    <i class="bi bi-ban"></i>
                                    <span class="ms-1"> {% trans "Désactiver" %}</span>
                                </a>
                            {% else %}
                                <a href="{% url 'enable_user' user.id %}" class="btn btn-sm btn-outline-success mt-2 mx-1">
                                    <i class="bi bi-check-circle"></i>
                                    <span class="ms-1"> {% trans "Activer" %}</span>
                                </a>
                            {% endif %}
                            <button type="button" class="btn btn-sm btn-outline-danger mt-2 mx-1"  data-bs-toggle="modal" data-bs-target="#modal-{{ user.id }}">
                                <i class="bi bi-trash3"></i>
                                <span class="ms-1"> {% trans "Supprimer" %}</span>
                            </button>
                            <!-- Delete Confirmation Modal -->
                            <div class="modal fade text-start" id="modal-{{ user.id }}" tabindex="-1" aria-labelledby="modal-{{ user.id }}-Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title fw-bold" id="modal-{{ user.id }}-Label">{% trans "Confirmation" %}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">                                                
                                            <div>
                                                {% trans "Supprimer définitivement" %} 
                                                <span class="fw-bold text-danger ms-auto">{{ user.username }}</span><span class="fw-bold ms-2"><i class="bi bi-envelope"></i> {{ user.email }}</span> ?
                                                <!-- <span class="text-danger small ms-auto">{% trans "Cette opération n'est pas réversible." %}</span> -->
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Annuler" %}</button>
                                            <form id="deleteForm" method="post" action="{% url 'delete_user' user.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">{% trans "Supprimer" %}</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="list-group-item">{% trans "Aucune Commande trouvée" %}</div>
        {% endfor %}
    </div>

    
{% endblock content %}