{% extends 'base/base.html' %}
{% load i18n %}
{% load extras %}

{% block title %}
{% trans "Tenancy details" %}
{% endblock title %}

{% block content %}
    {% with avatar=tenant.logo headline=tenant.name subtitle=tenant.owner %}
    {% include "base/includes/compo-title.html" with avatar=avatar headline=headline subtitle=subtitle %} {% endwith %}
            
        
    

    <table class="table">
    {% for label, value in fields %}
            <tr class="border-bottom">
                <td>
                    <small class="text-muted">{{ label }}:</small><br>
                    {% if value %} <strong>{{ value }}</strong> {% endif %}
                </td>
            </tr>
    {% empty %}
        <p class="text-danger">Empty Record !</p>
    {% endfor %}

        <tr class="border-bottom">
            <td>
                <small class="text-muted">{% trans 'Admins' %} ({{ admins.count }}):</small><br>
                <strong>
                    <table class="table">
                        {% for admin in admins %}
                            <tr><td>
                                {{ admin.username }}
                                {% if admin == request.user %}
                                    <span class="text-success">({% trans "You" %})</span>                                
                                {% endif %}
                                {% if not admin.is_active %}
                                    <span class="text-danger">({% trans "Inactive" %})</span>                                
                                {% endif %}
                            </td></tr>
                        {% empty %}
                            <p class="text-danger">No admins found !</p>
                        {% endfor %}
                    </table>
                </strong>
            </td>
        </tr>


        <tr class="border-bottom">
            <td>
                <small class="text-muted">{% trans 'Users' %} ({{ users.count }}):</small><br>
                <strong>
                    <table class="table">
                        {% for user in users %}
                            <tr><td>
                                {{ user.username }}
                                {% if user == request.user %}
                                    <span class="text-success">({% trans "You" %})</span>                                
                                {% endif %}
                                {% if not user.is_active %}
                                    <span class="text-danger">({% trans "Inactive" %})</span>                                
                                {% endif %}
                            </td></tr>
                        {% empty %}
                            <p class="text-muted small fw-light">No users found !</p>
                        {% endfor %}
                    </table>
                </strong>
            </td>
        </tr>
    </table>
{% endblock content %}