{% extends 'base/base.html' %}
{% load i18n %}
{% load extras %}

{% block title %}
{% trans "Tenancy details" %}
{% endblock title %}

{% block content %}
    <h1>
        {% trans "Tenancy details" %}
    </h1>
    <table class="table">
    {% for label, value in fields %}
            <tr class="border-bottom">
                <td>
                    <small class="text-muted">{{ label }}:</small><br>
                    {% if value %} <strong>{{ value }}</strong> {% endif %}
                </td>
            </tr>
    {% empty %}
        <p class="text-danger">Empty Record !</p>
    {% endfor %}

        <tr class="border-bottom">
            <td>
                <small class="text-muted">{% trans 'Admins' %} ({{ admins.count }}):</small><br>
                <strong>
                    <table class="table">
                        {% for admin in admins %}
                            <tr><td>
                                {{ admin.username }}
                                {% if admin == request.user %}
                                    <span class="text-success">({% trans "You" %})</span>                                
                                {% endif %}
                                {% if not admin.is_active %}
                                    <span class="text-danger">({% trans "Inactive" %})</span>                                
                                {% endif %}
                            </td></tr>
                        {% empty %}
                            <p class="text-danger">No admins found !</p>
                        {% endfor %}
                    </table>
                </strong>
            </td>
        </tr>


        <tr class="border-bottom">
            <td>
                <small class="text-muted">{% trans 'Workers' %} ({{ workers.count }}):</small><br>
                <strong>
                    <table class="table">
                        {% for worker in workers %}
                            <tr><td>
                                {{ worker.username }}
                                {% if worker == request.user %}
                                    <span class="text-success">({% trans "You" %})</span>                                
                                {% endif %}
                                {% if not worker.is_active %}
                                    <span class="text-danger">({% trans "Inactive" %})</span>                                
                                {% endif %}
                            </td></tr>
                        {% empty %}
                            <p class="text-muted small fw-light">No workers found !</p>
                        {% endfor %}
                    </table>
                </strong>
            </td>
        </tr>
    </table>
{% endblock content %}