{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Essai gratuit" %}
{% endblock title %}


{% block content %}

    <!-- Header -->
    {% with headline=_("Activation Essai gratuit") subtitle=_("Bénéficiez d'une période d'essai gratuite pour découvrir les fonctionnalités de notre application") %}
        {% include "base/includes/compo-title.html" %}
    {% endwith %}

    {% if request.user.is_authenticated and request.user.is_tenant_admin %}
        <form method="POST" action="{% url 'tenancy_trial' %}">
            {% csrf_token %}
            <ul class="list-group mb-3 shadow-sm">
                <li class="list-group-item bg-success-subtle">
                    <div class="row row-cols-1 row-cols-sm-2 text-center">
                        <div class="col col-md-6">
                            <small class="text-muted">{% trans 'Date début' %}</small><br>
                            <div>{{ trial_date_start }}</div>
                        </div>
                        <div class="col col-md-6">
                            <small class="text-muted">{% trans 'Date fin' %}</small><br>
                            <strong>{{ trial_date_end }}</strong>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                {% for plan in plans %}
                    {% with plan=plan tag=plan.yearly_tag_month tag_new=plan.yearly_tag_month_new form_url="tenancy_trial" period="yearly" %}
                        {% include 'back/snipets/plan-card.html' %}
                    {% endwith %}
                {% empty %}
                    <button href="{% url 'base_contact' %}" class="btn btn-primary">{% trans "Nous Contacter" %}</button>
                {% endfor %}
            </div>
            
        </form>

        <div id="admins-actions" class="my-4">
            <p>{% translate "Vous pouvez à tout moment souscrire un Abonnement pour continuer à utiliser l'application" %}.</p>
            <div>
                <a href="{% url 'tenancy_subscribe' %}" class="me-2 mb-2 btn btn-outline-primary">{% trans 'Souscrire un Abonnement' %}</a>
                <a href="{% url 'base_contact' %}" type="button" class="me-2 mb-2 btn btn-outline-primary">{% trans "Nous Contacter" %}</a>
            </div>
        </div>
    {% else %}
            <p class="text-danger">{% trans "Vous n'avez pas les permissions requises pour effectuer cette opération. Contactez votre Administrateur." %}</p>
    {% endif %}
{% endblock content %}