{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Utilisateurs Entreprise" %}
{% endblock title %}

{% block content %}
    {% with avatar=tenant.logo headline=tenant.name subtitle=tenant.owner %}
        {% include "base/includes/compo-title.html" with avatar=avatar headline=headline subtitle=subtitle %}
    {% endwith %}
    <div class="text-center mb-3">
        <h3 class="p-1 my-3">{% translate "Utilisateurs de l'Entreprise" %}</h3>        
        <div class="gap-1">
            {% for i in ""|center:max_users %}
                {% if forloop.counter <= users_count %}
                    <span class="badge pill bg-danger px-1">&nbsp;</span>
                {% else %}
                    <span class="badge pill border border-success text-success px-1">&nbsp;</span>
                {% endif %}
            {% endfor %}
            <span class="ms-2">{{ users_count }} / {{ max_users }}</span>
        </div>
    </div>

    <div class="list-group mb-3">
        {% for user in users %}
            <div class="list-group-item">
                <a class="btn w-100 m-0 p-0" data-bs-toggle="collapse" href="#user-{{ user.username }}" role="button" aria-expanded="false" aria-controls="user-{{ user.username }}">
                    <div class="d-flex align-items-center">
                        <img class="img-fluid me-2" {% if avatar %}src="{% static avatar %}"{% else %}src="{% static 'images/icon.png' %}"{% endif %} style="max-width: 3rem;" alt="X">
                        <div class="w-100 d-flex justify-content-between">
                            <div class="text-start">
                                <div class="{% if not user.is_active %}text-secondary{% else %}fw-bold{% endif %}">{{ user.username }}</div>
                                <div class="text-muted">{{ user.email }}</div>
                            </div>
                            <div>
                                {% if user == request.user %}<span class="badge bg-success">{% trans "Vous" %}</span>{% endif %}
                                {% if user.is_tenant_admin %}<span class="badge bg-danger">{% trans "Admin" %}</span>{% endif %}
                                {% if not user.is_active %}<span class="badge bg-secondary">{% trans "Désactivé" %}</span>{% endif %}
                            </div>
                        </div>
                    </div>
                </a>
                <div class="collapse py-2" id="user-{{ user.username }}">
                    <div id="user-details" class="mt-2">
                        <div class="fw-light small">{% trans "Prénom" %}: <span class="fw-bold">{{ user.first_name }}</span></div>
                        <div class="fw-light small">{% trans "Nom" %}: <span class="fw-bold">{{ user.last_name }}</span></div>
                        <div class="fw-light small">{% trans "Dernière connexion" %}: <span class="fw-bold">{{ user.last_login }}</span>{% if user.last_login %} : {{ user.last_login|timesince }}{% endif %}</div>
                        <div class="fw-light small">{% trans "Date création" %}: <span class="fw-bold">{{ user.created_on }}</span>{% if user.created_on %} : {{ user.created_on|timesince }}{% endif %}</div>
                    </div>
                    {% if user != request.user %}
                        <div id="user-actions" class="my-2">
                            {% if not user.is_tenant_admin %}
                                <a href="{% url 'adminize_user' user.id %}" class="btn btn-warning btn-sm">
                                    <i class="bi bi-check-circle"></i> {% trans "Rendre Admin" %}
                                </a>
                            {% else %}
                                <a href="{% url 'disadminize_user' user.id %}" class="btn btn-success btn-sm">
                                    <i class="bi bi-check-circle"></i> {% trans "Rendre Non-Admin" %}
                                </a>
                            {% endif %}
                            {% if user.is_active %}
                                <a href="{% url 'disable_user' user.id %}" class="btn btn-secondary btn-sm">
                                <i class="bi bi-slash-circle"></i> Disable
                                </a>
                            {% else %}
                                <a href="{% url 'enable_user' user.id %}" class="btn btn-success btn-sm">
                                    <i class="bi bi-check-circle"></i> Enable
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="list-group-item">{% trans "Aucun Utilisateur trouvé" %}</div>
        {% endfor %}
    </div>
        <!-- <div class="p-2 ms-auto">
            <div class="fw-bold">{{ users_count }} {% trans "Utilisateurs" %} / {{ max_users }} ({% trans "Plan" %}: {{ current_subscription.plan.name }})</div>
        </div> -->
    <div class="hstack gap-2 mb-3">
        {% if users_count < max_users %}
            <div class="p-2 ms-auto">
                <a href="{% url 'tenancy_add_user' %}" class="btn btn-primary">{% trans "Nouveau" %}</a>
            </div>
        {% else %}
            {% trans "Pour ajouter un Utilisateur, merci d'amélioer votre Abonnemnt" %}
            <a href="{% url 'tenancy_summary' %}" class="btn btn-primary ms-auto">{% trans "Amélioer l'Abonnemnt" %}</a>
        {% endif %}
    </div>

    
{% endblock content %}