{% load i18n %}

<div class="list-group-item p-0">
    <a class="btn w-100 py-3" data-bs-toggle="collapse" href="#{{ order.id }}" role="button" aria-expanded="true" aria-controls="{{ user.id }}">
        <div class="d-flex align-items-center">
            <i class="bi
                {% if order.status == 'W' %}
                    bi-hourglass-bottom text-warning
                {% elif order.status == 'P' %}
                    bi-diamond-half text-warning
                {% elif order.status == 'C' %}
                    bi-check-circle text-success
                {% else %}
                    bi-x-circle text-danger
                {% endif %}
                fs-3"></i>
            <div class="w-100 d-flex justify-content-between ms-3">
                <div class="text-start">
                    <div>
                        <span class="badge
                            {% if order.status == 'W' %}
                                bg-warning
                            {% elif order.status == 'P' %}
                                bg-warning
                            {% elif order.status == 'C' %}
                                bg-success
                            {% else %}
                                bg-danger
                            {% endif %}
                            py-2">{{ order.get_status_display }}</span>
                        <span class="fw-bold fs-5 ms-2">{{ order.total_amount_with_tax }}</span>
                        <span class="small text-muted">{{ order.order_currency }}</span>
                        {% if order.amount_overpaid > 0 %}
                            <span class="badge bg-warning py-2">{% trans "Surpayé" %}: {{ order.amount_overpaid }}<span class="small fw-light">{{ order.order_currency }}</span></span>
                        {% endif %}
                    </div>
                    <div class="text-muted small">
                        <span><i class="bi bi-folder2"></i></span>
                        <span class="small">{{ order.numero }}</span>
                        <span class="ms-1"><i class="bi bi-clock"></i></span>
                        <span class="small text-muted">{{ order.order_date.date }}</span>
                    </div>
                </div>
                <div class="px-2">...</div>
            </div>
        </div>
    </a>
    <div class="collapse" id="{{ order.id }}">
        
        <div id="order-actions-top" class="d-flex align-items-center mb-1 px-3">
            {% if order.amount_due_to_pay > 0 %}
                <a href="{% url 'tenancy_add_order_payment' order.id %}" class="btn btn-primary me-2 mb-2">
                    <i class="bi bi-coin"></i>
                    <span class="ms-1"> {% trans "Payer" %} <span class="fw-bold">{{ order.amount_due_to_pay }}<span class="fw-light small ms-1">{{ order.order_currency }}</span></span></span>
                </a>
            {% endif %}
            {% if order.payments.all %}
                <a href="{% url 'tenancy_order_payments' order.id %}" class="btn btn-outline-primary me-2 mb-2">
                    <i class="bi bi-cash-coin"></i>
                    <span class="ms-1"> {% trans "Liste Paiements" %}</span>
                </a>
            {% endif %}
            <a href="{% url 'base_coming' %}" class="btn btn-outline-primary me-2 mb-2">
                <i class="bi bi-cash-coin"></i>
                <span class="ms-1"> {% trans "Imprimer" %}</span>
            </a>

            {% if not order.payments.all %}
                <a href="{% url 'tenancy_delete_order' order.id %}" class="btn btn-outline-danger me-2 mb-2">
                    <i class="bi bi-cash-coin"></i>
                    <span class="ms-1"> {% trans "Supprimer" %}</span>
                </a>
            {% endif %}
        </div>

        
        <div id="order-details">
            {% for item in order.items.all %}
                <div class="list-group-item border-start-0 border-end-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="fw-bold">{{ item.quantity }} x {{ item.product_name }}</div>
                        <div class="fw-bold">{{ item.total_price_with_tax }} <span class="fw-light text-muted small">{{ order.order_currency }}</span></div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center ps-4">
                        <div class="fw-light small">{% trans "Prix unitaire" %}</div>
                        <div class="fw-light small">{{ item.unit_price }} <span class="fw-light text-muted small">{{ order.order_currency }}</span></div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center ps-4">
                        <div class="fw-light small">{% trans "Prix sans taxes" %}</div>
                        <div class="fw-light small">{{ item.total_price }} <span class="fw-light text-muted small">{{ order.order_currency }}</span></div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center ps-4">
                        <div class="fw-light small">{% trans "Taxes" %} {{ item.tax_rate }}%</div>
                        <div class="fw-light small">{{ item.tax_amount }} <span class="fw-light text-muted small">{{ order.order_currency }}</span></div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item small border-start-0 border-end-0">
                    <span class="text-danger"><i class="bi bi-cone-striped"></i></span>
                    <span class="ms-1 small">{% trans "Aucun élément trouvé" %}</span>
                </div>
            {% endfor %}
            <div class="list-group-item bg-primary-subtle border-start-0 border-end-0">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-bold fs-5">{% trans "Total TTC" %}</div>
                    <div class="fw-bold fs-5">{{ order.total_amount_with_tax }} <span class="fw-light text-muted small">{{ order.order_currency }}</span></div>
                </div>
                <div class="d-flex justify-content-between align-items-center ps-4">
                    <div class="fw-light small">{% trans "Total HT" %}</div>
                    <div class="fw-light small">{{ order.total_amount }} <span class="fw-light text-muted small">{{ order.order_currency }}</span></div>
                </div>
                <div class="d-flex justify-content-between align-items-center ps-4">
                    <div class="fw-light small">{% trans "Total taxes" %}</div>
                    <div class="fw-light small">{{ order.total_tax_amount }} <span class="fw-light text-muted small">{{ order.order_currency }}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>