{% load i18n %}

<div class="list-group-item p-0 shadow-sm">
    <a class="btn w-100 py-3" data-bs-toggle="collapse" href="#{{ order.id }}" role="button" aria-expanded="true" aria-controls="{{ order.id }}">
        <div class="d-flex align-items-center">
            <i class="bi {% if order.status == 'W' %} bi-hourglass-bottom text-secondary{% elif order.status == 'P' %} bi-diamond-half text-warning{% elif order.status == 'C' %} bi-check-circle text-success{% else %} bi-x-circle text-danger {% endif %} fs-3"></i>
            <div class="w-100 d-flex justify-content-between ms-3">
                <div class="text-start">
                    <div>
                        <span class="badge {% if order.status == 'W' %} bg-secondary{% elif order.status == 'P' %} bg-warning{% elif order.status == 'C' %} bg-success{% else %} bg-danger{% endif %} py-2">{{ order.get_status_display }}</span>
                        <span class="fw-bold fs-5 ms-2">{{ order.total_amount_with_tax }}</span>
                        <span class="small text-muted">{{ order.order_currency }}</span>
                        {% if order.amount_overpaid > 0 %}
                            <span class="badge bg-warning py-2">{% trans "Surpayé" %}: {{ order.amount_overpaid }}<span class="small fw-light">{{ order.order_currency }}</span></span>
                        {% endif %}
                    </div>
                    <div class="text-muted small">
                        <span><i class="bi bi-folder2"></i></span>
                        <span class="small">{{ order.numero }}</span>
                        <span class="ms-1"><i class="bi bi-clock"></i></span>
                        <span class="small text-muted">{{ order.order_date.date }}</span>
                    </div>
                </div>
                <div class="px-2">...</div>
            </div>
        </div>
    </a>
    <div class="collapse" id="{{ order.id }}">
        <div class=" px-3">
            {% include "tenancy/snippets/order-actions.html" with order=order details="show" %}
        </div>
    </div>
</div>