{% load i18n %}

{% if order %}
    <div class="list-group-item p-0">
        <a class="btn w-100 py-3" data-bs-toggle="collapse" href="#{{ payment.id }}" role="button" aria-expanded="true" aria-controls="{{ user.id }}">
            <div id="p-line" class="d-flex align-items-center">
                <i class="bi 
                    {% if payment.status == 'W' %}
                        bi-hourglass-top text-warning
                    {% elif payment.status == 'C' %}
                        bi-check-circle text-success
                    {% else %}
                        bi-x-circle text-danger
                    {% endif %}
                fs-3"></i>
                <div id="p-main-data" class="w-100 d-flex justify-content-between ms-3">
                    <div id="p-left-side">
                        <div id="p-line-1" class="list-inline text-start">
                            <div class="list-inline-item">
                                <span class="fw-bold fs-5">{{ payment.amount }}</span>
                                <span class="fw-light text-muted small">{{ order.order_currency }}</span>
                            </div>
                            <div class="list-inline-item">
                                <span class="badge{% if payment.status == 'W' %} bg-warning{% elif payment.status == 'C' %} bg-success{% else %} bg-danger{% endif %}">
                                    {{ payment.get_status_display }}
                                </span>
                            </div>
                        </div>
                        <div id="p-line-2" class="list-inline text-start">
                            <div class="list-inline-item">
                                <span class="text-muted small"><i class="bi bi-folder2"></i></span>
                                <span class="text-muted small">{{ payment.numero }}</span>
                            </div>
                            <div class="list-inline-item">
                                <span class="text-muted small"><i class="bi bi-clock"></i></span>
                                <span class="text-muted small">{{ payment.paid_at|date }}</span>
                            </div>
                        </div>
                    </div>
                    <div id="p-right-side">
                        ...
                    </div>
                </div>
            </div>
        </a>
        <div class="collapse p-3 pt-0" id="{{ payment.id }}">
            <div class="">


                <table class="table mb-3">
                    <tbody>
                        <tr>
                            <td class="text-end small text-muted py-1">{% trans "Référence" %}</td>
                            <td class="text-start small py-1">{% if payment.reference %}{{ payment.reference }}{% else %}-{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="text-end small text-muted py-1">{% trans "Méthode" %}</td>
                            <td class="text-start small py-1">{% if payment.method %}{{ payment.get_method_display }}{% else %}-{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="text-end small text-muted py-1">{% trans "Date paiement" %}</td>
                            <td class="text-start small py-1">{% if payment.paid_at %}{{ payment.paid_at }}{% else %}-{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="text-end small text-muted py-1">{% trans "Notes" %}</td>
                            <td class="text-start small py-1">{% if payment.notes %}{{ payment.notes }}{% else %}-{% endif %}</td>
                        </tr>
                    </tbody>
                </table>

                <div id="payment-actions" class="d-flex justify-content-start">
                    <a href="#" class="btn btn-sm me-2 btn-outline-primary disabled">
                        <i class="bi bi-printer"></i>
                        <span class="ms-1">{% trans "Imprimer" %}</span>
                    </a>

                    {% if payment.status == 'W' %}
                        <a href="{% url 'tenancy_edit_order_payment' payment.id %}" class="btn btn-sm me-2 btn-outline-primary">
                            <i class="bi bi-pencil-square"></i>
                            <span class="ms-1"> {% trans "Modifier" %}</span>
                        </a>
                    {% endif %}

                    {% if payment.status != 'C' %}
                        <div id="paymentDeletion">
                            <button type="button" class="btn btn-sm me-2 btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#modal-{{ payment.id }}">
                                <i class="bi bi-trash-fill"></i>
                                <span class="ms-1"> {% trans "Supprimer" %}</span>
                            </button>
                            <div class="modal fade text-start" id="modal-{{ payment.id }}" tabindex="-1" aria-labelledby="modal-{{ payment.id }}-Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title fw-bold" id="modal-{{ payment.id }}-Label">{% trans "Confirmation" %}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div>
                                                {% trans "Supprimer définitivement ce Paiement" %}:
                                            </div>
                                            <div class="clearfix">
                                                <span class="text-muted small float-start">{% trans "Numéro" %}</span>
                                                <span class="fw-bold float-end">{{ payment.numero }}</span>
                                            </div>
                                            <div class="clearfix">
                                                <span class="text-muted small float-start">{% trans "Montant" %}</span>
                                                <span class="fw-bold float-end">{{ payment.amount }}</span>
                                            </div>
                                            <div class="clearfix">
                                                <span class="text-muted small float-start">{% trans "Status" %}</span>
                                                <span class="fw-bold float-end">{{ payment.get_status_display }}</span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Annuler" %}</button>
                                            <form id="deleteForm" method="POST" action="{% url 'tenancy_delete_order_payment' payment.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">{% trans "Supprimer" %}</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% else %}
<div class="list-group-item p-0">
    <div>{% trans "Paiement non trouvé" %}</div>
</div>
{% endif %}