{% load i18n %}

{% if rub %}
    <div class="card mb-4 shadow shadow bg-{{ rub.teint }}-subtle">
        <div class="card-header fw-bold text-bg-{{ rub.teint }} text-center">
            {% if rub.status == "0-draft" %}
                <span class="fs-5 fw-bold badge bg-danger p-1 m-0"><i class="bi bi-exclamation-octagon"></i></span>                
            {% endif %}
            <span class="small fw-light">{% trans "Abonnement" %}</span>
            <span>{{ rub.plan.name }}</span>
            <span>{{ rub.days_span }}</span>
            <span class="small fw-light">{% trans "Jours" %}</span>
        </div>
        <div class="card-body bg-{{ rub.teint }}-subtle small">
            <div class="row">
                <div class="col-12 col-md-6 mb-2">
                    <div class="hstack gap-2 border-bottom border-secondary">
                        <div class="small fw-light">{% trans "Plan" %}</div>
                        <div class="">{{ rub.plan.name }}</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-2">
                    <div class="hstack gap-2 border-bottom border-secondary">
                        <div class="small fw-light">{% trans "Restant" %}</div>
                        <div>
                            <span class="fw-bold">{{ rub.days_to_end }}</span>
                            <span>{% trans "Jours" %}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-2">
                    <div class="hstack gap-2 border-bottom border-secondary">
                        <div class="small fw-light">{% trans "Date Début" %}</div>
                        <div class="">{{ rub.date_fm }}</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-2">
                    <div class="hstack gap-2 border-bottom border-secondary">
                        <div class="small fw-light">{% trans "Date Fin" %}</div>
                        <div class="">{{ rub.date_to }}</div>
                    </div>
                </div>
            </div>

            <div class="my-3">
                <div class="progress bg-danger" role="progressbar" aria-valuenow="{{ rub.progress_percent }}" aria-valuemin="0" aria-valuemax="100" style="height: 4px;">
                    <div class="progress-bar bg-success" style="width: {{ rub.progress_percent }}%;"></div>
                </div>
            </div>


            {% if rub.status == "0-draft" %}
                <div class="mb-3">
                    <li class="list-group-item text-danger fw-bold ms-0">
                        <span class=""><i class="bi bi-exclamation-octagon-fill"></i></span>
                        <span>{% trans "Abonnement sans commande" %}</span>
                    </li>
                </div>
            {% endif %}
            {% if rub.status == "9-cancelled" %}
                <div class="mb-3">
                    <li class="list-group-item text-danger fw-bold">
                        <span class=""><i class="bi bi-exclamation-octagon-fill"></i></span>
                        <span>{% trans "Abonnement désactivé" %}</span>
                    </li>
                </div>
            {% endif %}
            {% if not rub.usable %}
                <div class="mb-3">
                    <li class="list-group-item text-danger fw-bold">
                        <span class=""><i class="bi bi-exclamation-octagon-fill"></i></span>
                        <span>{% trans "Abonnement suspendu" %}</span>
                    </li>
                </div>
            {% endif %}


            <!-- {% if not current_subscription.payment %}
                <ul class="list-group mb-3">
                    <li class="list-group-item text-bg-danger fw-bold">{% trans "Paiement non trouvé !" %}</li>
                </ul>
            {% else %}
                {% if not current_subscription.payment.verified %}
                    <ul class="list-group mb-3">
                        <li class="list-group-item text-bg-danger fw-bold">{% trans "Paiement non confirmé !" %}</li>
                    </ul>
                {% endif %}
            {% endif %}
            <div class="text-center">
                {% if not current_subscription.payment %}
                    <a href="{% url 'base_contact' %}" class="me-2 mb-2 btn btn-primary">{% trans "Ajouter Paiement" %}</a>
                {% else %}
                    {% if current_subscription.payment.verified %}
                        <a href="{% url 'tenancy_order' %}" class="me-2 mb-2 btn btn-primary">{% trans "Renouveler" %}</a>
                        <a href="{% url 'tenancy_subscribe' %}" class="me-2 mb-2 btn btn-outline-primary">{% trans "Améliorer" %}</a>
                    {% endif %}
                {% endif %}
            </div> -->
            <div class="list-inline">
                {% if rub.status == "0-draft" %}
                    <div class="list-inline-item">
                        <a href="{% url 'base_coming' %}" class="btn btn-primary mt-1">
                            <i class="bi bi-cash-coin"></i>
                            <span class="ms-1">{% trans "Commander" %}</span>
                        </a>
                    </div>
                {% endif %}
                <div class="list-inline-item">
                    <a href="{% url 'base_contact' %}" class="btn btn-outline-primary mt-1">
                        <i class="bi bi-headset"></i>
                        <span class="ms-1">{% trans "Support" %}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="card mb-4 shadow shadow bg-danger-subtle">
        <div class="card-header fw-bold text-bg-danger text-center">
            {% trans "Pas d'Abonnement Actif" %}
        </div>
        <div class="card-body bg-danger-subtle">
            <div class="mb-3">
                {% trans "Merci de souscrire à un abonnement." %}
            </div>
            <div class="list-inline">
                <div class="list-inline-item">
                    <a href="{% url 'base_coming' %}" class="btn btn-primary mt-1">
                        <i class="bi bi-plus-circle"></i>
                        <span class="ms-1">{% trans "S'abonner" %}</span>
                    </a>
                </div>
                <div class="list-inline-item">
                    <a href="{% url 'base_contact' %}" class="btn btn-outline-primary mt-1">
                        <i class="bi bi-headset"></i>
                        <span class="ms-1">{% trans "Support" %}</span>
                    </a>
                </div>
            </div>
        </div>
     </div>
{% endif %}