{% load i18n %}

<div class="list-group-item p-0 {% if sub == rub %}shadow{% else %}shadow-sm{% endif %} {% if not sub.usable %} bg-secondary-subtle{% endif %}">
    <a class="btn w-100 py-3" data-bs-toggle="collapse" href="#{{ sub.id }}" role="button" aria-expanded="true" aria-controls="{{ sub.id }}">
        <div class="d-flex align-items-center">
            {% if order %}
                <i class="bi {% if order.status == 'W' %} bi-hourglass-bottom{% elif order.status == 'P' %} bi-diamond-half{% elif order.status == 'C' %} bi-check-circle{% else %} bi-x-circle {% endif %} text-{{ sub.teint }} fs-3"></i>
            {% else %}
                <i class="bi bi-plus-circle-dotted text-{{ sub.teint }} fs-3"></i>
            {% endif %}
            <div class="w-100 d-flex justify-content-between ms-3">
                <div class="text-start">
                    <div>
                        {% if sub == rub %}
                            <span class="badge bg-primary py-2">{% trans "Actif" %}</span>
                        {% endif %}
                        <span class="badge bg-{{ sub.teint }} py-2">{{ sub.get_status_display }}</span>
                        {% if sub.days_to_end >= 0 %}
                            {% if sub.window != 1 %}
                                <span class="badge bg-{{ sub.teint }} py-2"><span class="me-1"><i class="bi bi-hourglass-bottom"></i></span>{{ sub.days_to_end }} {% trans "Jours" %}</span>
                            {% endif %}
                        {% endif %}
                        <span class="fs-5 ms-2">
                            <span class="fw-bold">{{ sub.plan.name }}</span>
                            <span class="fw-bold">{{ sub.days_span }}</span>
                            <span class="fw-light small">{% trans "Jours" %}</span>
                        </span>
                    </div>
                    <div class="text-muted small mt-1">
                        <span><i class="bi bi-calendar-range"></i></span>
                        <span class="small">{{ sub.date_fm }}</span>
                        <span class=""><i class="bi bi-dash-lg"></i></span>
                        <span class="small text-muted">{{ sub.date_to }}</span>
                    </div>
                </div>
                <div class="ps-2">...</div>
            </div>
        </div>
        {% if sub.usable %}
            <div class="progress bg-danger mt-2" role="progressbar" aria-valuenow="{{ sub.progress_percent }}" aria-valuemin="0" aria-valuemax="100" style="height: 4px;">
                <div class="progress-bar bg-success" style="width: {{ sub.progress_percent }}%;"></div>
            </div>
        {% endif %}

    </a>

    <div class="collapse" id="{{ sub.id }}">
        
        <div id="order-actions-top" class="list-inline mb-3 px-3">

            {% if sub.order %}
                <div class="list-inline-item">
                    <a href="{% url 'tenancy_order_details' sub.order.id %}" class="btn btn-outline-primary my-1">
                        <i class="bi bi-cash-coin"></i>
                        <span class="ms-1"> {% trans "Commande" %}</span>
                    </a>
                </div>
            {% endif %}

            {% if sub.status == "X" %}
                <div class="list-inline-item">
                    <a href="{% url 'base_coming' %}" class="btn btn-primary mt-1">
                        <i class="bi bi-cash-coin"></i>
                        <span class="ms-1">{% trans "Commander" %}</span>
                    </a>
                </div>
            {% endif %}
            {% if sub.status == "C" %}
                <div class="list-inline-item">
                    <a href="{% url 'base_coming' %}" class="btn btn-outline-primary mt-1">
                        <i class="bi bi-arrow-repeat"></i>
                        <span class="ms-1">{% trans "Renouveler" %}</span>
                    </a>
                </div>
            {% endif %}
            <div class="list-inline-item">
                <a href="#" class="btn btn-outline-primary my-1 disabled">
                    <i class="bi bi-printer"></i>
                    <span class="ms-1"> {% trans "Imprimer" %}</span>
                </a>
            </div>

            {% if sub.status == "A" or sub.status == "X" %}
                <div class="list-inline-item">
                    <div id="orderDeletion">
                        <button type="button" class="btn btn-outline-danger my-1"  data-bs-toggle="modal" data-bs-target="#modal-{{ sub.id }}">
                            <i class="bi bi-trash-fill"></i>
                            <span class="ms-1"> {% trans "Supprimer" %}</span>
                        </button>
                        <div class="modal fade text-start" id="modal-{{ sub.id }}" tabindex="-1" aria-labelledby="modal-{{ sub.id }}-Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title fw-bold" id="modal-{{ sub.id }}-Label">{% trans "Confirmation" %}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            {% trans "Supprimer définitivement cet Abonnement" %}:
                                        </div>
                                        <div class="clearfix">
                                            <span class="text-muted small float-start">{% trans "Numéro" %}</span>
                                            <span class="fw-bold float-end">{{ sub.numero }}</span>
                                        </div>
                                        <div class="clearfix">
                                            <span class="text-muted small float-start">{% trans "Montant" %}</span>
                                            <span class="fw-bold float-end">{{ sub.total_amount_with_tax }}</span>
                                        </div>
                                        <div class="clearfix">
                                            <span class="text-muted small float-start">{% trans "Status" %}</span>
                                            <span class="fw-bold float-end">{{ sub.get_status_display }}</span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Annuler" %}</button>
                                        <form id="deleteForm" method="POST" action="{% url 'base_coming' %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">{% trans "Supprimer" %}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>