{% load i18n %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="stockDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-search"></i> {% translate 'Stock' %}
    </a>
    <ul class="dropdown-menu" aria-labelledby="stockDropdown">
        <li><a class="dropdown-item" href="{% url 'base_coming' %}"><i class="bi bi-hourglass-split"></i> {% translate 'Recherche Article' %}</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'base_coming' %}"><i class="bi bi-hourglass-split"></i> {% translate 'Vérifier Commande' %}</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'base_coming' %}"><i class="bi bi-menu-app-fill"></i> {% translate 'Inventaire' %}</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'base_coming' %}"><i class="bi bi-bookmark-heart-fill"></i> {% translate 'Gestion Magasins' %}</a></li>
</ul>
</li>