{% load i18n %}
{% load static %}



<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {% if request.user.is_authenticated %}
            {{ request.user.username }}
        {% else %}
            {% trans 'Menu' %}
        {% endif %}
    </a>

    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        
        {% if request.user.is_authenticated %}
                <li>
                    <a class="dropdown-item" href="#"><i class="bi bi-person-circle"></i> {% translate 'Mon Profile' %}</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'tenancy_summary' %}"><i class="bi bi-person-circle"></i> {% translate 'Mon Entreprise' %}</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#"><i class="bi bi-person-circle"></i> {% translate 'Support' %}</a>
                </li>

                <li><hr class="dropdown-divider"></li>

                <li>
                    <a class="dropdown-item" href="#"><i class="bi bi-person-circle"></i> {% translate 'Réglages' %}</a>
                </li>

            {% url 'account_email' as email_url_ %}
            {% if email_url_ %}
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="{{ email_url_ }}"><i class="bi bi-person-circle"></i> {% translate "Changer d'Email" %}</a>
                </li>
                </li>
            {% endif %}

            {% url 'account_change_password' as change_password_url_ %}
            {% if change_password_url_ %}
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="{{ change_password_url_ }}"><i class="bi bi-person-circle"></i> {% translate "Modifier Mot de passe" %}</a>
                </li>
            {% endif %}

            {% url 'socialaccount_connections' as connections_url_ %}
            {% if connections_url_ %}
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="{{ connections_url_ }}"><i class="bi bi-person-circle"></i> {% translate "Connexions du compte" %}</a>
                </li>
            {% endif %}

            {% url 'mfa_index' as mfa_url_ %}
            {% if mfa_url_ %}
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="{{ mfa_url_ }}"><i class="bi bi-person-circle"></i> {% translate "Authentication deux facteurs" %}</a>
                </li>
            {% endif %}

            {% url 'request.sessions_list' as usersessions_list_url_ %}
            {% if usersessions_list_url_ %}
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="{{ usersessions_list_url_ }}"><i class="bi bi-person-circle"></i> {% translate "Sessions" %}</a>
                </li>
            {% endif %}

            {% url 'account_logout' as logout_url_ %}
            {% if logout_url_ %}
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item text-danger" href="{{ logout_url_ }}"><i class="bi bi-person-circle"></i> {% translate "Se Déconnecter" %}</a>
                </li>
            {% endif %}

        {% else %}
            {% url 'account_login' as login_url_ %}
            {% if login_url_ %}
                <li>
                    <a class="dropdown-item" href="{{ login_url_ }}"><i class="bi bi-person-circle"></i> {% translate "Se Connecter" %}</a>
                </li>
            {% endif %}

            {% url 'account_signup' as signup_url_ %}
            {% if signup_url_ %}
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item fw-bold text-success" href="{{ signup_url_ }}"><i class="bi bi-person-circle"></i> {% translate "Créer Compte Gratuit" %}</a>
                </li>
            {% endif %}
            <li><hr class="dropdown-divider"></li>
            <li>
                <a href="#" class="dropdown-item fw-bold text-success">{% trans "Contact us" %}</a>
            </li>

        {% endif %}
    </ul>
</li>