{% load i18n %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dashDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-gear-wide"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dashDropdown">
        <li><a class="dropdown-item" href="{% url 'tenancy_summary' %}"><i class="bi bi-speedometer2"></i> {% translate 'Dashboard' %}</a></li>
        <li><hr class="dropdown-divider"></li>
        <!-- <li><a class="dropdown-item" href="{% url 'tenancy_orders' %}"><i class="bi bi-cart"></i> {% translate 'Commandes' %}</a></li>
        <li><hr class="dropdown-divider"></li> -->
        <li><a class="dropdown-item" href="{% url 'tenancy_subscriptions' %}"><i class="bi bi-cash-stack"></i> {% translate 'Abonnement' %}</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'tenancy_users' %}"><i class="bi bi-people"></i> {% translate 'Utilisateurs' %}</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'base_coming' %}"><i class="bi bi-sliders"></i> {% translate 'Réglages' %}</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" aria-disabled="true" href="{% url 'base_coming' %}"><i class="bi bi-headset"></i> {% translate 'Support' %}</a></li>
    </ul>
</li>