{% load static %}
{% load i18n %}
<!-- {% load extras %} -->

{% get_current_language as LANGUAGE_CODE %}


<nav class="navbar navbar-expand-lg pt-2 mb-4 bg-light sticky-top shadow">
  <div class="container container-fluid">
    {% include 'base/includes/menu-brand.html' %}
    <button class="navbar-toggler border-0 px-1" type="button" 
        data-bs-toggle="collapse" data-bs-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" 
        style="outline: none; box-shadow: none;"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarToggler">
      
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
            {% if not request.user.is_authenticated %}
              <a href="{% url 'account_login' %}" class="btn btn-sm btn-outline-primary">{% trans "Se Connecter" %}</a>
            {% endif %}
            {% if request.user.is_authenticated %}
              {% if request.user.is_tenant_admin %}
                {% include 'base/includes/menu-dash.html' %}
              {% endif %}
              {% include 'base/includes/menu-stock.html' %}
              {% include 'base/includes/menu-buying.html' %}
              {% include 'base/includes/menu-selling.html' %}
            {% endif %}
          </ul>

          <span>
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll text-end">
                {% include 'base/includes/menu-user.html' %}
                {% include 'base/includes/menu-langs.html' %}

              </ul>
          </span>
      
    </div>
  </div>
</nav>