{% load i18n %}


<div>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            <div class="small text-muted fw-light mb-3 shadow shadow-sm bg-secondary-subtle border rounded rounded-2 p-2">
                <div class="hstack">
                    <div>
                        <span class="fw-bold">{{ start_date }}</span>
                    </div>
                    <div class="">
                         <span class="mx-2 fw-bold">&raquo;</span>
                        <span class="fw-bold">{{ end_date_yearly }}</span>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 text-center">
                {% for plan in plans %}
                    {% with plan=plan mata=mata %}
                        {% include 'tenancy/snippets/plan-card.html' with periodicity="yearly" %}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            <div class="small text-muted fw-light mb-3 shadow shadow-sm bg-secondary-subtle border rounded rounded-2 p-2">
                <div class="hstack">
                    <div>
                        <span class="fw-bold">{{ start_date }}</span>
                    </div>
                    <div class="">
                         <span class="mx-2 fw-bold">&raquo;</span>
                        <span class="fw-bold">{{ end_date_monthly }}</span>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 text-center"> 
                {% for plan in plans %}
                    {% with plan=plan  mata=mata %}
                        {% include 'tenancy/snippets/plan-card.html' with periodicity="monthly" %}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>