{% load static %}
{% load i18n %}

<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/icon.svg' %}">
    <meta name="description" content="{% translate 'description' %}">
    <meta name="keywords" content="{% translate 'keywords' %}">
    <meta name="author" content="MODE 777">

    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>

{% include 'base/includes/navbar.html' %}

<div class="content m-3 p-2">
    {% block content %}{% endblock content %}
</div>

{% include 'base/includes/footer.html' %}