{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="text-center">
    <img class="img-fluid p-2" src="{% static 'images/brand.svg' %}" style="max-width: 20rem;" alt="Goal">
    <h2 class="p-1 my-3">{% translate "C'est une erreur !" %}</h2>
    <ul class="list-group mb-3">
        <li class="list-group-item">
            <small class="text-muted">{% trans 'Code de l'erreur' %}</small><br>
            <div>{{ code }}</div>
        </li>
        <li class="list-group-item">
            <small class="text-muted">{% trans 'Message de l'erreur' %}</small><br>
            <div>{{ message }}</div>
        </li>
    </ul>
</div>
{% endblock content %}