{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="text-center">
    <img class="img-fluid p-2" src="{% static 'images/goal.svg' %}" style="max-width: 20rem;" alt="Goal">
    <!-- <h2 class="p-1">{% translate "It's working." %}</h2> -->
    <h2 class="p-1">{% translate "It's going to work." %}</h2>
    {% if request.user.is_authenticated %}
    <div class="p-2">
        <p>You are logged in as: {{ request.user.username }}</p>
        <a href="{% url 'account_logout' %}" class="btn btn-secondary">Logout</a>
    </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'account_login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'account_signup' %}" class="btn btn-secondary">Signup</a>
    {% endif %}
</div>
{% endblock content %}