{% load i18n %}

<form method="POST"  action="{% url 'tenancy_order' %}">
    {% csrf_token %}
    <input type="hidden" name="stage" value="confirmation">    
    <input type="hidden" name="plan_id" value="{{ plan.id }}">
    <input type="hidden" name="date_fm" value="{{ start_date }}">
    <input type="hidden" name="date_to" value="{{ end_date }}">
    <input type="hidden" name="total_amount" value="{{ total_amount }}">
    <!-- <input type="hidden" name="periodicity" value="{{ periodicity }}"> -->
    <button type="submit" class="btn btn-primary">{% trans "Confirmer" %}</button>
</form>