{% load i18n %}
{% load static %}

{% if plan %}
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ plan.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ tag }}<small class="text-body-secondary fw-light">/{% trans "mois" %}</small></h1> 
                <ul class="list-unstyled mt-3 mb-4 text-start">
                    <li>{{ plan.max_users }} {% trans "Utilisateurs" %}</li>
                    <li>{{ plan.max_magasins }} {% trans "Magasins" %}</li>
                    <li>{{ plan.max_products }} {% trans "Produits" %}</li>

                    <div class="mt-2 mb-1">+ {% trans "Options" %}</div>
                    
                    <li class="{% if not plan.vitrine %}text-secondary text-decoration-line-through{% endif %}">{% trans "Site Vitrine" %}</li>
                    <li class="{% if not plan.custom_domain %}text-secondary text-decoration-line-through{% endif %}">{% trans "Nom de domaine" %}</li>
                    <li class="{% if not plan.ecommerce %}text-secondary text-decoration-line-through{% endif %}">{% trans "Site Ecommerce" %}</li>
                    <li class="{% if not plan.mailbox %}text-secondary text-decoration-line-through{% endif %}">{% trans "Serveur mail privé" %}</li>
                </ul>
                <form method="POST"  action="{% url 'tenancy_sub_renew' %}">
                    {% csrf_token %}
                    <input type="hidden" name="plan_id" value="{{ plan.id }}">
                    <input type="hidden" name="period" value="{{ period }}">
                    <button type="submit" class="w-100 btn btn-lg btn-outline-primary">{% trans "Souscrire" %}</button> 
                </form>
            </div>
        </div>
    </div>
{% endif %}
